@import "../../../styles/includes.module.scss";


#login_aluno_header {
    display: flex;
    display: none;
    margin-top: -15px;
    margin-bottom: 15px;
    // background-color: #00000021;
    border-radius: 0px 0px 0px 5px;
    height: auto;
    height: 40px;
    padding: 5px;
    overflow: hidden;
    justify-content: center;

    .icon {
        width: 16px;
        margin: -3px 7px 0px 5px;
        fill: rgb(255, 255, 255);
        float: left;
    }

    ul {
        display: flex;
        justify-content: center;

        svg {
            fill: #9b9b9b !important;
        }

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            color: #a1a1a1;
            list-style: none;



            a {
                @include button-primary;
                //border-radius: 10px 10px 10px 10px;
                padding: 6px 8px;

            }
        }
    }
}