@import "./normalize.module.scss";
@import "./variables.module.scss";
@import "./mixins.module.scss";

@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");

body {
  background-color: #ccc;



}

.container-global {

  min-height: 100vh;
  border: 1px solid magenta;
  margin: 0 auto;

}

.main {

  width: 100%;
}