@import "../../styles/includes.module.scss";

.header {
    width: 100%;
    background-color: $color-dark;
    height: auto;
    border-bottom: 2px solid $color-secondary ;
    z-index: 3;

    .header_container {
        text-transform: uppercase;
        font-size: 12px;
        display: flex;
        max-width: $width-container;


        margin: 0 auto;
        height: 110px;

        figure.bg_logo {

            max-width: 150px;

            img {
                width: 100%;
                height: auto;

            }
        }

        .h_columns {
            display: flex;
            flex-grow: 1;
            align-items: center;

            .sub_h_clmn {
                flex-grow: 1;
                justify-content: flex-end;
                align-items: flex-end;
                display: flex;
                width: 100%;
            }
        }

        #h_column_1 {}

        #h_column_2 {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            /* Aligns item to the right */
            align-items: flex-end;
            /* Aligns item to the bottom */


        }


    }
}

#bg_login_aluno_header {

    margin-bottom: 30px;

    ul li {
        font-size: 12px;
        color: #FFF;
        list-style: none;

        a {
            @include button-primary;
            //border-radius: 10px 10px 10px 10px;

        }
    }
}