@import "../../../styles/variables.module.scss";

.navHeader {

    ul {
        display: flex;
        justify-content: flex-end;

        li {
            list-style: none;

            a {
                text-decoration: none;
                padding: 20px;
                font-size: 22px;
                color: $color-light;
            }
        }

    }

}