@import "../../styles/includes.module.scss";

#footer {
    width: 100%;
    background-color: $color-dark;
    height: auto;

    #footer_container {

        border: 1px solid magenta;
        display: flex;
        max-width: $width-container;
        //justify-items: center;
        align-items: center;
        margin: 0 auto;
        height: 150px;


    }
}