@import "../../../../styles/includes.module.scss";

.pages_cursos,
.pages_ingles {

    // @include border-decorative;
    //background-color: #fff;
    padding-bottom: 40px;

}

.bg_content_page {
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.main {
    overflow: hidden;
    background-color: #f0f0f0;

    padding: 0px 40px 60px 40px;
    background: #f8f8f8;

    .bg_img_destaque {

        width: 100%;
        overflow: hidden;
        max-height: 400px;
        background-color: #333;

        img {
            width: 100%;
            height: auto;
            //object-fit: cover;
        }
    }

    h1 {
        text-align: center;
        padding: 30px 0px;
        // margin: 0px -40px;
        //margin-bottom: 40px;
        //width: calc(100% + 80px);
        text-transform: uppercase;
        color: $color-secondary;
        //color: #000000;
        //background-color: rgb(220, 224, 224);
        border-bottom: 1px solid #505050;
    }

    &>p {
        //border: 1px solid red;
        margin-bottom: 5px;
    }

    figure.bg-curso-image {
        overflow: hidden;
        max-width: 100%;
        max-height: 400px;
        margin-bottom: 20px;

        img {
            width: 100%;

        }

    }

    .visao_geral_curso {
        margin-top: 40px;
        border: 1px solid $color-primary;
        padding: 0px 20px 20px 20px;

        h4 {
            padding: 0px 20px;
        }

        li {
            display: flex;
            align-items: center;
            justify-items: center;
            line-height: 26px;
            list-style: none;
            border-bottom: 1px solid #ccc;
            padding: 15px;


            .icon {
                width: 50px !important;
                margin-bottom: -15px;
                height: auto !important;
                fill: $color-primary !important;
                margin-right: 10px;

            }

        }

        li:nth-child(6) {
            .icon {
                margin-bottom: -5px;
            }
        }

        li:nth-child(7) {
            .icon {

                margin-bottom: 0px;
            }
        }
    }



}


.aside {
    flex-grow: 1;
    min-height: 100%;
    position: relative;
    padding: 0px;
}

@media (max-width: 860px) {

    .bg_content_page {
        flex-direction: column;
    }

    .aside {
        display: flex;
        //border: 2px solid red;
        justify-content: center;
        align-items: center;

        .block_lateral {

            max-width: 400px;

            li {
                padding-left: 20px !important;
                padding-right: 20px !important;
            }

            // width: 400px;
        }

    }




}


@media (max-width: 560px) {

    .bg_content_page {


        .main {

            padding: 0px 20px 20px 20px;
        }

    }






}